.bg-color-primary {
    background-image: radial-gradient(circle, #64b144, #8ec861, #3ba411, #8ec861, #3ba411);
}

.btn-primary {
    --bs-btn-bg: #3ba411;
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #8ec861;
}


.carouselSize {
    height: 20vh;
}

.bannerLogo {
    width: 200px;
    height: 61px;
}

.clickeable{
    cursor:pointer;
}

.clickeable:hover{
    color: #40b5cb;
    transition: color 0.5s;
}

.favorite{
    color: #40b5cb;
}

.favorite:hover{
    color: #212529;
    transition: color 0.5s;
}

@media screen and (min-width: 768px) {
    .carouselSize {
        height: 35vh;
    }

    .bannerLogo {
        width: 400px;
        height: 122px;
    }
}